<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.ustcsoft.jt.mapper.SysLeaveEmpMapper">
	
	<!-- 功能说明:带分页的查询人员基本信息列表 -->
	<select id="queryWithPage" resultType="com.ustcsoft.system.model.SysLeaveEmpVO" parameterType="com.ustcsoft.system.model.SysLeaveEmpVO">
	    SELECT 
		  l.ID AS id,
		  l.EMP_ID AS empId,
		  l.LEAVE_TYPE AS leaveType,
		  l.LEAVE_DATE AS leaveDate,
		  l.LEAVE_REASON AS leaveReason,
		  l.REMARK AS remark,
		  l.CREATE_PER AS creater,
		  l.CREATE_DATE AS createDate,
		  e.EMP_NAME AS name,
		  e.EMP_SEX AS sex,
		  o.ORG_NAME AS deptName,
		  e.EMP_JOB AS job,
		  e.EMP_PHONE AS phone
		FROM T_LEAVE_EMP l
		LEFT JOIN T_EMP e
		ON l.EMP_ID= e.EMP_ID
		LEFT JOIN M_ORG o
		ON e.DEPT_NO=o.ORG_ID
		WHERE 1=1
	    <if test="leaveEmp.leaveType != null and leaveEmp.leaveType != ''">
				and l.LEAVE_TYPE = #{leaveEmp.leaveType}
		</if>
		<if test="leaveEmp.name != null and leaveEmp.name != ''">
				and e.EMP_NAME LIKE '%${leaveEmp.name}%'
		</if>
		<if test="leaveEmp.phone != null and leaveEmp.phone != ''">
				and e.EMP_PHONE LIKE '%${leaveEmp.phone}%'
		</if>
		ORDER BY l.CREATE_DATE DESC
	</select>
	
	<!--  功能说明:新增离退休人员单-->
	<insert id="insertLeaveEmp"  parameterType="com.ustcsoft.system.model.SysLeaveEmpVO">
		insert into T_LEAVE_EMP(
					ID,
					EMP_ID,
					LEAVE_TYPE,
					LEAVE_DATE,
					LEAVE_REASON,
					REMARK,
					CREATE_PER,
					CREATE_DATE
		                ) values 
	        	   (
				   #{id},
				   #{empId},
   				   #{leaveType}
				   <![CDATA[,to_date(#{leaveDate},'YYYY-MM-DD hh24:mi:ss')]]>,
				   #{leaveReason},
				   #{remark},
				   #{creater}
				   <![CDATA[,to_date(#{createDate},'YYYY-MM-DD hh24:mi:ss')]]>
	              )	
	</insert>
	
		<!--  功能说明:根据人员ID删除相关联的岗位信息-->
	<delete id="deleteByEmpids" parameterType="java.util.List">
		DELETE FROM T_LEAVE_EMP
		WHERE EMP_ID IN
		<foreach collection="list" item="empid"
            index="index" open="(" close=")" separator=",">
            #{empid}
        </foreach>
	</delete>
</mapper>
