@charset "utf-8";
/* CSS Document */
body{ font:12px/20px arial,"\5b8b\4f53",sans-serif,tahoma,"Microsoft YaHei"; color:#666;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{ margin:0; padding:0; border:0; /* vertical-align:baseline; */}
ul,li{ list-style:none;}
a{ color:#666; text-decoration:none;}
a:hover{ text-decoration:none;}
i{ font-style:normal;}
.float_l{ float:right;}
.float_r{ float:right;}
.clearfix{ clear:both;background-color:white;}
.border_t0{ border-bottom:none;}
.border_r0{ border-right:none;}
.yl{ color:#fed875;}
.font_yh{ font-family:"Microsoft YaHei",SimHei,arial;cursor:pointer;}
h3{ font-weight:normal;}
.prev, .next, .quick_m a i, .quick_new i, .mian_con_m ul li span.t i{ background:url(./images/icon.png) no-repeat;}

.warp_con{}
.warp{ width:100%;}
.header{ position:relative; height:80px; background:#3c96d2; width:100%; min-width:1240px;}
.header .logo{ float:left; margin:22px auto auto 22px;}
.header .logo_nm{ margin-left:10px;}
.qlink{ float:right; width:460px; text-align:right; color:#cbe6f8; margin:16px 15px auto auto;}
.qlink a{ color:#cbe6f8;}
.qlink_t a{ padding:0 5px;}
.qlink_b{ display:inline-block; height:20px; line-height:20px; border-radius:10px; background:#52a7e0; text-align:center; padding:0 20px; margin-top:5px; margin-right:5px;}
.sidebar{ position:absolute; left:0; top:80px; width:160px; height:100%; background:#3c96d2;}
.sidebar h3{ height:60px; line-height:60px; text-align:center; font-size:18px; background:#227ab5; color:#fff;}
.sidebar h3 i, .sidebar h3 i.s{ position:absolute; right:143px; width:17px; height:60px; background:url(./images/s.png) no-repeat center #145987; z-index:666;}
#sidebar_inner ul{ position:relative;}
#sidebar_inner ul li{ float:left; width:100%; height:45px; line-height:45px; border-bottom:1px solid #439eda; background:url(./images/jt.png) no-repeat 145px center;}
#sidebar_inner ul li ul{display:none;position:relative; top:-46px; left:160px; width:139px; border:1px solid #3c96d2; border-left:none; background:#ecf5fb; overflow:hidden; z-index:5;}
#sidebar_inner ul li ul li{ float:left; width:88%; border-bottom:1px solid #deeaf2; margin:0 6%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#sidebar_inner ul li ul li a{ float:left; width:123px; color:#3c96d2;display:block;}
#sidebar_inner ul li ul li a:hover{ text-decoration:underline; background:#ecf5fb; color:#3c96d2;}
/*  .win_add{ float:left; margin-top: 15px; display:inline-block; width:15px; height:15px; cursor:pointer;background: url(./images/add.png) no-repeat;} */
#sidebar_inner ul li.more{ background:none; padding-top:10px;}
#sidebar_inner ul li.more img{ position:relative; left:50%; margin-left:-13px; width:25px; height:16px;}
#sidebar_inner ul li a{ display:block; color:#fcfcfd; font-size:14px; font-family:"Microsoft YaHei",SimHei,arial; padding-left:5px;}
#sidebar_inner ul li a:hover{ text-decoration:none; background:#ecf5fb; color:#fff;background:url(./images/hover.gif) no-repeat ;background-position:-70px 0px;}
#sidebar_inner ul li:hover .cur1{ text-decoration:none; background:#ecf5fb; color:#fff;background:url(./images/hover.gif) no-repeat ;background-position:-70px 0px;}
#sidebar_inner ul li a i, #sidebar_inner ul li a:hover i{ float:left; display:inline-block; width:25px; height:25px; background:url(./images/icon.png) no-repeat; margin-right:5px; margin:14px 0 auto -5px;}
#sidebar_inner ul li a i.RSGL{ background-position:0 2px;}
#sidebar_inner ul li a i.GWGL{ background-position:0 -667px;}
#sidebar_inner ul li a i.XLGL{ background-position:0 -178px;}
#sidebar_inner ul li a i.GBRMJZC{ background-position:0 -212px;}
#sidebar_inner ul li a i.TZGG{ background-position:0 -390px;}
#sidebar_inner ul li a i.RSBB{ background-position:0 -461px;}
#sidebar_inner ul li a i.XTGL{ background-position:0 -498px;}
#sidebar_inner ul li a i.XZXK{ background-position:0 2px;}
#sidebar_inner ul li a i.XZCF{ background-position:0 -34px;}
#sidebar_inner ul li a i.XZZF{ background-position:0 -70px;}
#sidebar_inner ul li a i.XZQZ{ background-position:0 -106px;}
#sidebar_inner ul li a i.XZFY{ background-position:0 -141px;}
#sidebar_inner ul li a i.ZFRY{ background-position:0 -176px;}
#sidebar_inner ul li a i.KSPX{ background-position:0 -212px;}
#sidebar_inner ul li a i.XZJD{ background-position:0 -249px;}
#sidebar_inner ul li a i.DWFW{ background-position:0 -286px;}
#sidebar_inner ul li a i.XZJC{ background-position:0 -318px;}
#sidebar_inner ul li a i.XZCJ{ background-position:0 -353px;}
#sidebar_inner ul li a i.XZQR{ background-position:0 -389px;}
#sidebar_inner ul li a i.XZZS{ background-position:0 -424px;}
#sidebar_inner ul li a i.ZHTJ{ background-position:0 -460px;}
#sidebar_inner ul li a i.XTSZ{ background-position:0 -497px;}
#sidebar_inner ul li a i.JCSJ{ background-position:0 -535px;}
#sidebar_inner ul li a i.CXYTJ{ background-position:0 -576px;}
#sidebar_inner ul li a i.BB{ background-position:0 -619px;}
#sidebar_inner ul li a i.YDZF{ background-position:0 -667px;}

#sidebar_inner ul li:hover ul{display:block;}
#sidebar_inner ul li:hover a i.XZXK{ background-position:-50px 2px;}
#sidebar_inner ul li:hover a i.XZCF{ background-position:-50px -34px;}
#sidebar_inner ul li:hover a i.XZZF{ background-position:-50px -70px;}
#sidebar_inner ul li:hover a i.XZQZ{ background-position:-50px -106px;}
#sidebar_inner ul li:hover a i.XZFY{ background-position:-50px -141px;}
#sidebar_inner ul li:hover a i.ZFRY{ background-position:-50px -176px;}
#sidebar_inner ul li:hover a i.KSPX{ background-position:-50px -212px;}
#sidebar_inner ul li:hover a i.XZJD{ background-position:-50px -249px;}
#sidebar_inner ul li:hover a i.DWFW{ background-position:-50px -286px;}
#sidebar_inner ul li:hover a i.XZJC{ background-position:-50px -318px;}
#sidebar_inner ul li:hover a i.XZCJ{ background-position:-50px -353px;}
#sidebar_inner ul li:hover a i.XZQR{ background-position:-50px -389px;}
#sidebar_inner ul li:hover a i.XZZS{ background-position:-50px -424px;}
#sidebar_inner ul li:hover a i.ZHTJ{ background-position:-50px -460px;}
#sidebar_inner ul li:hover i.XTSZ{ background-position:-50px -497px;}
#sidebar_inner ul li:hover i.JCSJ{ background-position:-50px -535px;}
#sidebar_inner ul li:hover i.CXYTJ{ background-position:-50px -576px;}
#sidebar_inner ul li:hover i.BB{ background-position:-50px -619px;}
#sidebar_inner ul li:hover i.YDZF{ background-position:-50px -667px;}
#sidebar_inner ul li ol{ display:block; position:absolute; top:0; left:240px; width:159px; background:#ecf5fb; border-right:1px solid #3c96d2; border-bottom:1px solid #3c96d2;}
.dorpdown_layer{ position:absolute; left:230px; top:59px; width:189px; height:634px; display:none; border:1px solid #3c96d2; border-left:none; background:#ecf5fb; overflow:hidden; z-index:5;}
.dorpdown_layer ul li{ float:left; width:88%; border-bottom:1px solid #deeaf2; margin:0 6%;}
.dorpdown_layer ul li a{ display:block; padding:8px 0 8px 5px; }
.dorpdown_layer ul li a:hover{ text-decoration:none;}
.main{ position:relative; margin-left:160px; min-width:1080px;}
.main_t{ position:relative; width:100%; height:59px; background:#3e92c9; border-top:1px solid #308ac7;}
.quick_nav{ float:left; width:686px; padding:0 15px;}
.prev, .next{ float:left; width:15px; height:25px; background-position:-103px 0px; margin-top:18px;}
.next{ background-position:-122px 0px;}
.quick_m{ float:left; width:518px; height:47px; margin-top:6px; padding:0 10px; overflow:hidden;}
.quick_m a{ float:left; display:block; width:64px; height:45px; border:1px solid #4da3dd; background:#227ab5; border-radius:5px; color:#fff; font-family:"Microsoft YaHei",SimHei,arial; text-align:center; margin:0 4px;}
.quick_m a i{ display:block; width:20px; height:20px; background-position:-111px -34px; margin:0 auto; margin-top:4px;}
.quick_m a span{ height:17px; line-height:17px;}
.quick_new{ float:right;width:360px; height:40px; line-height:20px; text-align:left; color:#fff; padding-right:0px; padding-top:18px;}

.quick_new a{ color:#fff;}
.quick_new i{ font-size:14px; color:#fed875; background-position:-111px -63px; padding-left:28px;}
.quick_new span{ padding-left:30px;}
.newstittle:hover{color:red}
.main_l{ position:relative; float:left; width:67.83%;}
.main_l_m{ padding:0 10px;}
.main_tab{ position:relative; top:5px; border-bottom:1px solid #e0e0e0; padding-left:0px;}
.main_tab a{ position:relative; top:1px; display:inline-block; background:#eee; border:1px solid #e0e0e0; border-bottom:none; padding:4px 20px; margin:0 3px; border-radius:5px 5px 0 0; font-size:14px; font-family:"Microsoft YaHei",SimHei,arial;}
.main_tab a.cur{ color:#fff; background:#3c96d2; border:1px solid #2c86c3;}
.mian_con{ position:relative; top:25px; width:98%; padding-left:1.8%; float:left; border:1px solid #e0e0e0;}
.mian_con_m{ position:relative; padding:12px 0 20px 0; border-bottom:1px solid #eee; overflow:hidden;}
.mian_con_m h3{ font-size:16px; color:#3c96d2; line-height:39px;}
.mian_con_m ul{ float:left; width:100%;}
.mian_con_m ul li{ float:left; border-right:1px dashed #e8e6e6; margin-right:2%; width:22.89%;}
.mian_con_m ul li.l{ border:0;}
.mian_con_m ul li:nth-child(4n){ border-right:0; margin-right:0;}
.mian_con_m ul li span.n{ display:block; font-size:14px; font-family:"Microsoft YaHei",SimHei,arial; padding:12px 0 23px 0;}
.mian_con_m ul li span.t{ display:inline-block; width:44px; height:44px; background:#aeacac; border-radius:50%;}
.mian_con_m ul li:hover span.t{ background:#3f94fe;cursor:pointer;}
.mian_con_m ul li span.t i{ display:inline-block; width:44px; height:44px; background-position:-98px -90px;}
.mian_con_m ul li span.t i.db2{ background-position:-101px -133px;}
.mian_con_m ul li span.t i.db3{ background-position:-101px -178px;}
.mian_con_m ul li span.t i.db4{ background-position:-99px -220px;}
.mian_con_m ul li span.t i.cf1{ background-position:-101px -263px;}
.mian_con_m ul li span.t i.cf2{ background-position:-102px -306px;}
.mian_con_m ul li span.t i.cf3{ background-position:-103px -349px;}
.mian_con_m ul li span.t i.cf4{ background-position:-102px -387px;}
.mian_con_m ul li span.j{cursor:pointer; position:relative; top:-12px; color:#8c8d8e; margin-left:10px; min-width:83px;}
.mian_con_m ul li span.jj{cursor:pointer;font-size:12px; position:relative; top:-49px; color:#8c8d8e; margin-left:54px; }
.mian_con_m ul li span.jjj{cursor:pointer;font-size:12px; position:relative; top:-44px; left:54px;color:#8c8d8e; }

.mian_con_m ul li span.f{ cursor:pointer;font-size:28px; color:#525354; font-family:Verdana, Geneva, sans-serif; margin-right:5px;margin-right:5px;}
.mian_con_m ul li span.ff{ font-size:18px; color:#525354; font-family:Verdana, Geneva, sans-serif; }
.mian_new{ position:relative; top:35px; border:1px solid #e0e0e0;}

.dis{ display:block;border-bottom:1px solid #e0e0e0;}
.undis{ display:none;border-bottom:1px solid #e0e0e0;}
.nav{ width:98%; height:30px; line-height:28px; padding-top:2px; border-bottom:1px solid #e0e0e0; background:#eee; padding-left:2%;}
.nav li{ position:relative; float:left; display:inline-block; height:28px; line-height:28px; font-size:14px; font-family:"Microsoft YaHei",SimHei,arial;}
.nav li.nav_current a{ background:#fff; border:1px solid #e0e0e0; border-top:2px solid #3c96d2; border-bottom:0; border-bottom:1px solid #fff;}
.nav li a{ float:left; height:28px; text-align:center; line-height:28px; border:1px solid #eee; border-bottom:1px solid #e0e0e0; border-top:2px solid #eee; padding:0 15px;}
ul.news{ padding:15px 20px; overflow:hidden;}
ul.news li{ float:left; width:100%; line-height:28px;overflow:hidden;white-space:nowrap;}
ul.news li a{ float:left; background:url(./images/d.jpg) no-repeat left center; padding-left:15px;}
ul.news li span{ float:right;}
.main_r{ position:relative; top:10px; float:right; width:30.97%; border:1px solid #e0e0e0; margin-right:10px;}
.main_map{ width:100%;}
.main_map img{ width:100%; height:100%;}
.main_r h3{ font-size:14px; color:#3c96d2; font-family:"Microsoft YaHei",SimHei,arial; background:#eee; padding:5px 0; border:1px solid #e0e0e0; border-left:0; border-right:0; padding-left:7px;}
.main_map_tj{ padding:10px; line-height:24px; border-bottom:1px solid #e0e0e0;}
.main_map_tj span{ position:relative; top:2px; color:#e64c4c; font-size:18px; font-family:Arial, Helvetica, sans-serif; margin-left:3px; margin-right:15px;}
.table{ width:100%;}
.table tr.t{ background:#eee;}
.table td{ padding:4px 10px;}
.goup{  display:none;position:fixed; right:20px; bottom:10px; width:110px; height:104px; background:url(./images/goup.png) no-repeat; }
.goup i{ position:relative; top:2px; right:-94px;font-size:20px; color:#fff;}
.goup i:hover{ position:relative; top:2px; right:-94px; color:blue;cursor: pointer;}
.quanPing{position:fixed; right:5px; top:85px; width:55px; height:52px; background:url(./images/a11.png) no-repeat; background-size:cover;backgrond-attachment:fixed;background-position:center;}
.quanPing:hover{position:fixed; right:5px; top:85px; width:55px; height:52px; background:url(./images/a22.png) no-repeat; background-size:cover;backgrond-attachment:fixed;background-position:center;}